.skills-page { 
    width: 100%;
    height:1000px;
    position: relative;
    background-color:  #1b2036;;
    display: flex;    
    align-items: center;
    flex-direction: column;
    align-content: flex-start;
}

.skills-box {
    position: relative;
    top:100px;
    background-color: rgb(64, 67, 97);
    width: 70%;
    border-radius: 40px;
    padding: 40px;
    display: flex; 
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    height: 700px;
    box-shadow: 5px 10px 10px #38383f;

}
.skills-title { 
    font-size: 3em;
    color: turquoise;
    position: relative;
    top: 50px;
}

.skills-paragraph { 
    max-width: 1200px;
    color: aliceblue;
    line-height: 1.7em;
    letter-spacing: 0.001em; 

}

.proglang { 
    color: turquoise;

}

.skills-collection { 
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    width: 100%;
    align-items: center;
    position: relative;
    top: 30px;
    gap: 15px;
    height: 100%;
}

.skills-card { 
    width: 100%;
    text-align: center;
    background-color: rgb(40, 40, 63);
    height: 90%;
    border-radius: 10px;
    box-shadow: 2px 5px 5px #242427;

}

.skills-card h2 { 
    font-size: 1.5em;
    color: rgb(247, 115, 137);
    position: relative;
    top: 20px;
}