.about-page { 
    width: 100%;
    min-height: 400px;
    position: relative;
    display: flex;    
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-family: montserrat, sans-serif;

}


.about-title {
    font-size: 3rem;
    color: #dddddd;
    position: relative;
    margin-bottom: 1em;
    margin-top: 1em;
}

.me-text { 
    color: #8ed1d1;
    margin-left: 0.5em;
}

.about-text-box { 
    position: relative;
    margin-top: 1em;
    background-color: #fffaf7;
    width: 70%;
    border-radius: 40px;
    padding: 5em;
    display: flex; 
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    box-shadow: 5px 10px 10px #38383f;
    gap: 10px;
}

.about-text-chess-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.about-text-intro {
    color: #636d6c;
    padding: 2em;
    vertical-align: center;
    font-size: 1.2rem;
    line-height: 1.7em;
    letter-spacing: 0.1em; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap:2em;
    font-weight: 500;
    max-width: 700px;
}

.about-page button{ 
    background-color: 	#8ed1d1;
    font-weight: bold;
    font-size: 1rem;
    color:black;
    box-shadow: 2px 2px 5px #83838b;
    min-height: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border: 0;
    border-radius: 20px;
    padding: 20px 30px;
    text-decoration: none;
    width: 100%;
}

button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.animated-chess { 
    min-width: 5em;
    max-height: 10em;
}

.comp-text { 
    color: rgb(0, 255, 221);
}

@media screen and (max-width: 500px) {
    .skills-collection {
        flex-direction: column;
    
    }
}