

html{
  font-size: 16px;
}  

@media screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 13px;
  }
}

@media screen and (max-width: 750px) {
  html {
    font-size: 11px;
  }

}

@media screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 8px;
  }
}
  body { 
    width: 100%;
  }
